---
const currentLanguage = Astro.currentLocale;
---

<div>
  <label for="preferredLanguage" class="sr-only">Preferred Language</label>
  <select name="preferredLanguage" id="preferredLanguage">
    <option value="en" selected={currentLanguage === "en"}>English</option>
    <option value="pt-br" selected={currentLanguage === "pt-br"}
      >Português</option
    >
  </select>
</div>

<script>
  function handleChangeLanguage() {
    const uriPath = window.location.pathname;

    const newUrl = uriPath.startsWith("/pt-br/")
      ? uriPath.substring(6)
      : `/pt-br/${uriPath.startsWith("/") ? uriPath.substring(1) : uriPath}`;

    window.location.href = newUrl;
  }

  document
    .getElementById("preferredLanguage")
    ?.addEventListener("change", handleChangeLanguage);
</script>
