---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { translations404 } from "@/i18n/404";

const currentTranslation = Astro.currentLocale === "en" ? "en" : "pt-br";

const translationObject = translations404[currentTranslation];
---

<BaseLayout
  pageTitle={translationObject.pageTitle}
  pageDescription={translationObject.pageTitle}
>
  <h1>
    {translationObject.h1}
  </h1>
</BaseLayout>
