---
import BaseLayout from "@layouts/BaseLayout.astro";

const cannonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<BaseLayout
  canonicalUrl={cannonicalUrl}
  pageDescription="Carrer, Personal Life and Tech related posts by Edson Pimenta (eddyyxxyy). It's intend is to be fun for me to produce and spread knowledge/life experience."
  pageTitle="Eddy's Blog | Writing kinda random stuff"
>
  <main>
    <h1>Hello, Readers!</h1>
  </main>
</BaseLayout>
