---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Picture } from "astro:assets";
import { Icon } from "astro-icon/components";

import heroImage from "@assets/hero_dark_decorative_image.svg";
import edsonPimentaImage from "@assets/Edson_Pimenta_Face_Picture.webp";
import CarouselIcons from "@/components/CarouselIcons.astro";
import Badge from "@/components/Badge.astro";

const cannonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<BaseLayout
  canonicalUrl={cannonicalUrl}
  pageDescription="Driven by a passion for crafting innovative and high-impact web solutions. Thriving in a leading distance education company creating web applications."
  pageTitle="Edson Pimenta (eddyyxxyy) | FullStack Developer"
>
  <main>
    <div id="hero-blurry-backgrond-container">
      <div id="hero-blurry-background"></div>
    </div>
    <header id="hero">
      <div class="heroText">
        <p>Hello, my name is</p>
        <h1>Edson Pimenta</h1>
        <p>I'm a FullStack Developer.<br />I build things for the web!</p>
      </div>
      <div class="heroImage">
        <Picture
          src={heroImage}
          alt=""
          loading="eager"
          decoding="async"
          format="svg"
          fallbackFormat="png"
        />
      </div>
    </header>
    <div id="logo-carousel">
      <div class="slide">
        <CarouselIcons />
      </div>
      <div class="slide">
        <CarouselIcons />
      </div>
    </div>
    <section id="about">
      <div class="image">
        <Picture
          src={edsonPimentaImage}
          alt="Edson Pimenta's face."
          loading="lazy"
          decoding="async"
          format="webp"
          fallbackFormat="jpeg"
        />
      </div>
      <div class="content">
        <h2>About me</h2>
        <p>
          Passionate about creating innovative, high-impact web solutions and
          worked at a leading distance education company, <strong
            >I develop and improve scalable, secure and user-friendly web
            applications built with SEO best practices</strong
          >. I'm specializing in Node, TypeScript, React, Tailwind, NextJS, AWS,
          Containers (Docker and Kubernetes) and Design Patterns.
        </p>
        <p>
          I have knowledge of <strong
            >relational and non-relational databases and containers</strong
          >, for example: MySQL, PostgreSQL, MongoDB and Docker.
        </p>
        <ul id="links">
          <li>
            <a
              href="https://github.com/eddyyxxyy"
              target="_blank"
              rel="noreferer"
              aria-label="Edson's Github profile page"
              title="Github"
            >
              <Icon name="github-logo" size={32} />
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/eeddyyxxyy/"
              target="_blank"
              rel="noreferer"
              aria-label="Edson's LinkedIn profile page"
              title="LinkedIn"
            >
              <Icon name="linkedin-logo" size={32} />
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/@eddyxide"
              target="_blank"
              rel="noreferer"
              aria-label="Edson's Youtube channel"
              title="Youtube"
            >
              <Icon name="youtube-logo" size={32} />
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section id="career">
      <div class="content">
        <h2>Experience</h2>
        <p>
          With <strong>over 2 years of professional experience</strong>, I have
          worked on several projects as a freelancer and employee using a <strong
            >variety of technologies and architectures</strong
          >. <strong>Maintaining, adding new features and fixing bugs</strong> in
          proprietary or third-party systems is part of my routine as a programmer.
          Here I'll focus on my formal work experience.
        </p>
        <div id="professionalExp">
          <a
            class="item"
            href="https://www.faculdademetropolitana.edu.br/"
            target="_blank"
            rel="no-follow"
          >
            <div class="itemContent">
              <span class="date">2023 - Apr 2024</span>
              <div>
                <h3 class="itemTitle">
                  Desenvolvedor Web FullStack · Metropolitan Educação LTDA <Icon
                    name="arrow_up_right"
                    size={14}
                  />
                </h3>
                <div class="itemDescription">
                  <p>
                    Working for a leading distance learning company, owner of
                    FAMEF, FAMEESP and other educational institutions, I
                    developed and improved web applications with PHP, CakePHP,
                    NodeJS, TypeScript, NextJS, GraphQL, AWS and other
                    technologies. My work has ranged from the development and
                    maintenance of Back-End, DevOps and Front-End internal
                    systems to analyzing and using the results of SEO research
                    results to improve the ranking of our products open to
                    clients/students.
                  </p>
                </div>
                <div class="techBadges">
                  <Badge text="php" iconLeft>
                    <Icon name="check-icon" size={14} />
                  </Badge>
                  <Badge text="cakephp" iconLeft>
                    <Icon name="check-icon" size={14} />
                  </Badge>
                  <Badge text="nodejs" iconLeft>
                    <Icon name="check-icon" size={14} />
                  </Badge>
                  <Badge text="typescript" iconLeft>
                    <Icon name="check-icon" size={14} />
                  </Badge>
                  <Badge text="nextjs" iconLeft>
                    <Icon name="check-icon" size={14} />
                  </Badge>
                  <Badge text="graphql" iconLeft>
                    <Icon name="check-icon" size={14} />
                  </Badge>
                  <Badge text="rest" iconLeft>
                    <Icon name="check-icon" size={14} />
                  </Badge>
                  <Badge text="aws" iconLeft>
                    <Icon name="check-icon" size={14} />
                  </Badge>
                  <Badge text="docker" iconLeft>
                    <Icon name="check-icon" size={14} />
                  </Badge>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
    <section id="projects">
      <h2>Projects</h2>
    </section>
  </main>
</BaseLayout>

<style>
  main > :nth-child(odd):not(#logo-carousel) {
    background: radial-gradient(
        circle at bottom,
        rgba(35, 67, 85, 0.5),
        var(--neutral-100)
      ),
      url(https://grainy-gradients.vercel.app/noise.svg);
  }

  main > :nth-child(even) {
    background-image: linear-gradient(
        rgba(40, 163, 204, 0.05) 0.1em,
        transparent 0.1em
      ),
      linear-gradient(90deg, rgba(40, 163, 204, 0.05) 0.1em, transparent 0.1em);
    background-size: 1.2rem 1.2rem;
  }

  #hero > * {
    max-width: 650px;
  }

  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
    overflow: hidden;
  }

  #hero-blurry-backgrond-container {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0;
  }

  #hero-blurry-background {
    z-index: -1;
    position: fixed;
    flex: 1;
    top: -250px;
    left: 0;
    width: 100%;
    min-height: 450px;
    background-image: radial-gradient(
      closest-side,
      rgba(40, 163, 204, 0.25),
      var(--neutral)
    );
  }

  .heroText :first-child {
    font-size: 2rem;
    color: var(--neutral-700);
    margin-bottom: 1.2rem;
  }

  .heroText :not(:first-child, h1) {
    font-size: 3.2rem;
  }

  .heroText > h1 {
    background: linear-gradient(
      to top left,
      var(--neutral-900),
      var(--primary)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-family: "Exo 2", serif;
    font-size: 3.8rem;
    text-transform: uppercase;
    color: var(--primary-100);
    border-bottom: 3px solid var(--neutral-100);
    border-radius: 4px;
    margin-bottom: 1.2rem;
  }

  .heroImage {
    max-width: 450px;
    width: 100%;
  }

  .heroImage img {
    width: 100%;
    height: 100%;
  }

  #logo-carousel {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: var(--neutral-100);
  }

  #logo-carousel::before,
  #logo-carousel::after {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 12rem;
    height: 100%;
    content: "";
  }

  #logo-carousel::before {
    left: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      var(--neutral-100)
    );
  }

  #logo-carousel::after {
    right: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      var(--neutral-100)
    );
  }

  #logo-carousel:hover .slide {
    animation-play-state: paused;
  }

  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 60s slide infinite linear;
  }

  section {
    scroll-margin-top: 6rem;
  }

  section h2 {
    font-size: 2.8rem;
    color: var(--neutral-700);
  }

  #about,
  #career {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  #about .image {
    max-width: 350px;
    height: 100%;
  }

  #about img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    box-shadow:
      var(--neutral-600) -3px 3px,
      var(--neutral-500) -6px 6px,
      var(--neutral-400) -9px 9px,
      var(--neutral-300) -12px 12px,
      var(--neutral-200) -15px 15px;
  }

  .content {
    max-width: 650px;
    margin-bottom: 2rem;
  }

  .content :is(p, strong) {
    font-size: 2rem;
    margin-top: 2rem;
  }

  #professionalExp > .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 2.4rem;
    background-color: var(--neutral);
    background-image: linear-gradient(
        rgba(40, 163, 204, 0.05) 0.1em,
        transparent 0.1em
      ),
      linear-gradient(90deg, rgba(40, 163, 204, 0.05) 0.1em, transparent 0.1em);
    background-size: 1.2rem 1.2rem;
    padding: 2.4rem;
    border: 1px solid var(--neutral-700);
    border-radius: 8px;
    margin-top: 4rem;
    transition: all 0.2s ease-in-out;
  }

  #professionalExp > .item:hover,
  #professionalExp > .item:focus {
    filter: brightness(1.1);
    box-shadow: rgba(255, 255, 255, 0.15) 0px 5px 15px 0px;
  }

  #professionalExp span {
    font-family: "Exo 2", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 2.2rem;
    white-space: nowrap;
  }

  #professionalExp .itemTitle {
    font-size: 2.2rem;
    color: var(--neutral-900);
  }

  #professionalExp .itemTitle a {
    font-size: 2.2rem;
  }

  #professionalExp .itemTitle a:hover,
  #professionalExp .itemTitle a:focus {
    border-bottom: 1px solid var(--neutral-100);
  }

  #professionalExp .itemDescription p {
    font-size: 1.8rem;
    color: var(--neutral-800);
    margin-bottom: 1.8rem;
    text-align: justify;
  }

  .techBadges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  #links {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 2.4rem;
    list-style: none;
    margin-top: 2.4rem;
  }

  #links a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
    background-color: var(--neutral-100);
    padding: 1.2rem;
    border-radius: 12px;
    transition: filter 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  #links a:is(:hover, :focus) {
    filter: brightness(1.1);
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @media (min-width: 1000px) {
    #hero > * {
      max-width: fit-content;
    }

    #hero {
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 8rem;
    }

    .heroText :first-child {
      font-size: 2rem;
      color: var(--neutral-700);
      margin-bottom: 2rem;
    }

    .heroText :not(:first-child, h1) {
      font-size: 3.6rem;
    }

    .heroText > h1 {
      font-size: 4.8rem;
      margin-bottom: 1.2rem;
    }

    .heroText {
      max-width: 100%;
      min-width: max-content;
    }

    .heroImage {
      width: 100%;
    }

    #logo-carousel::before,
    #logo-carousel::after {
      width: 25rem;
    }

    #about {
      flex-direction: row;
      align-items: center;
      gap: 8rem;
    }

    #about .image {
      max-width: 450px;
      min-width: 300px;
    }

    .content {
      max-width: fit-content;
    }

    #links {
      display: flex;
    }

    #professionalExp > .item .itemContent {
      display: flex;
      align-items: start;
      gap: 2.4rem;
    }
  }

  @media (min-width: 1280px) {
    .heroText :first-child {
      font-size: 2.4rem;
      color: var(--neutral-700);
      margin-bottom: 2.4rem;
    }

    .heroText :not(:first-child, h1) {
      font-size: 4.2rem;
    }

    .heroText > h1 {
      font-size: 5.4rem;
      margin-bottom: 1.2rem;
    }

    .content :is(p, strong) {
      font-size: 2.2rem;
    }
  }
</style>
