---
import BaseLayout from "@layouts/BaseLayout.astro";

const cannonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<BaseLayout
  canonicalUrl={cannonicalUrl}
  pageDescription="Driven by a passion for crafting innovative and high-impact web solutions. Thriving in a leading distance education company creating web applications."
  pageTitle="Edson Pimenta (eddyyxxyy) | FullStack Developer"
>
  <h1>Hello, World!</h1>
</BaseLayout>
