---
import BaseLayout from "@layouts/BaseLayout.astro";

const cannonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<BaseLayout
  canonicalUrl={cannonicalUrl}
  pageDescription="Apaixonado por criar soluções web inovadoras e de alto impacto. Trabalhando em uma empresa líder em educação a distância, desenvolvo e aprimoro aplicações web."
  pageTitle="Edson Pimenta (eddyyxxyy) | Desenvolvedor FullStack"
>
  <h1>Olá, Mundo!</h1>
</BaseLayout>
